In [4]:
import pandas as pd
df = pd.read_csv('datasets/alta_noaa_1980_2019.csv')

1. Convert a column with date information to a date.

In [5]:
dates = pd.to_datetime(df.DATE)
print(dates)

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

2. Put the date information into the index for a numeric column.

In [3]:
snow = df.SNOW.rename(dates)
print(snow)

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

3. Calculate the average value of the column for each month.

In [18]:
avg = snow.loc['1980-01':'2019-09']
avg.resample('M').mean()

1980-01-31    4.645161
1980-02-29    3.879310
1980-03-31    3.967742
1980-04-30    1.000000
1980-05-31    1.516129
                ...
2019-05-31    0.838710
2019-06-30    0.000000
2019-07-31    0.000000
2019-08-31    0.000000
2019-09-30    0.000000
Freq: M, Name: SNOW, Length: 477, dtype: float64

4. Calculate the average value of the column for every 2 months.

In [39]:
avg = snow.loc['2018-01':'2019-09']

def two_months(index):
    year = index.year
    month = index.month
    if month + 1 == 13:
        return month, 1, year + 1
    else:
        return month, month + 1, year
    

avg.groupby(two_months).mean()

(1, 2, 2018)      1.806452
(1, 2, 2019)      2.854839
(2, 3, 2018)      2.492857
(2, 3, 2019)      3.953571
(3, 4, 2018)      2.345161
(3, 4, 2019)      3.012903
(4, 5, 2018)      1.453333
(4, 5, 2019)      1.863333
(5, 6, 2018)      0.200000
(5, 6, 2019)      0.838710
(6, 7, 2018)      0.000000
(6, 7, 2019)      0.000000
(7, 8, 2018)      0.000000
(7, 8, 2019)      0.000000
(8, 9, 2018)      0.000000
(8, 9, 2019)      0.000000
(9, 10, 2018)     0.000000
(9, 10, 2019)     0.000000
(10, 11, 2018)    0.861290
(11, 12, 2018)    1.393333
(12, 1, 2019)     2.050000
Name: SNOW, dtype: float64

5. Calculate the percentage of the column out of the total for each month.

In [41]:
per = snow.loc[ '1980-01':'2019-09']
per.resample('2M').sum().div(season2017.sum()).mul(100)

1980-01-31    0.747485
1980-03-31    1.222449
1980-05-31    0.399697
1980-07-31    0.005191
1980-09-30    0.000000
                ...
2019-01-31    0.778630
2019-03-31    1.059456
2019-05-31    0.425132
2019-07-31    0.000000
2019-09-30    0.000000
Freq: 2M, Name: SNOW, Length: 239, dtype: float64

6. Calculate the average value of the column for a rolling window of size 7.

In [14]:
snow.rolling(7).mean()

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    NaN
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

7. Using .loc pull out the first 3 months of a year.

In [71]:
years = list(range(1980, 2020))
str_years = [str(year) for year in years]
for i in range(len(str_years)):
    print(snow.loc[f'{str_years[i]}-01-01':f'{str_years[i]}-04-01'])

1980-01-01     2.0
1980-01-02     3.0
1980-01-03     1.0
1980-01-04     0.0
1980-01-05     0.0
              ...
1980-03-28    12.0
1980-03-29     0.0
1980-03-30     0.0
1980-03-31    13.0
1980-04-01     0.0
Name: SNOW, Length: 92, dtype: float64
1981-01-01     0.0
1981-01-02     0.0
1981-01-03     0.0
1981-01-04     1.0
1981-01-05     8.0
              ...
1981-03-28     6.0
1981-03-29     2.0
1981-03-30    12.0
1981-03-31    10.0
1981-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
1982-01-01     6.0
1982-01-02     7.0
1982-01-03    16.0
1982-01-04     0.0
1982-01-05     4.0
              ...
1982-03-28     0.0
1982-03-29     1.0
1982-03-30    19.0
1982-03-31     6.0
1982-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
1983-01-01     0.0
1983-01-02     0.0
1983-01-03     0.0
1983-01-04     0.0
1983-01-05     2.0
              ...
1983-03-28     3.0
1983-03-29     0.0
1983-03-30     2.0
1983-03-31     0.0
1983-04-01    12.0
Name: SNOW, Length: 91, dtype: float64
1984-01-01    1.0
1984-01-02    0.0
1984-01-03    0.0
1984-01-04    0.0
1984-01-05    0.0
             ...
1984-03-28    6.0
1984-03-29    1.0
1984-03-30    0.0
1984-03-31    0.0
1984-04-01    6.0
Name: SNOW, Length: 92, dtype: float64
1985-01-01     9.0
1985-01-02     0.0
1985-01-03     0.0
1985-01-04     0.0
1985-01-05     0.0
              ...
1985-03-28    16.0
1985-03-29     9.0
1985-03-30     2.0
1985-03-31     4.0
1985-04-01     8.5
Name: SNOW, Length: 91, dtype: float64
1986-01-01    0.0
1986-01-02    0.0
1986-01-03    0.0
1986-01-04    3.0
1986-01-05    0.5
             ...
1986-03-27    0.0
1986-03-28    0.0
1986-03-29    0.0
1986-03-30    0.0
1986-03-31    0.0
Name: SNOW, Length: 90, dtype: float64
1987-01-01     0.0
1987-01-02    16.0
1987-01-03     0.0
1987-01-04     9.0
1987-01-05    11.5
              ...
1987-03-28     5.0
1987-03-29     4.0
1987-03-30     0.0
1987-03-31     0.0
1987-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
1988-01-01     NaN
1988-01-02     0.0
1988-01-03     0.0
1988-01-04     NaN
1988-01-05     2.0
              ...
1988-03-28     4.0
1988-03-29     0.0
1988-03-30    10.0
1988-03-31     NaN
1988-04-01     0.0
Name: SNOW, Length: 92, dtype: float64
1989-01-01    3.0
1989-01-02    0.0
1989-01-03    0.0
1989-01-04    0.0
1989-01-05    0.0
             ...
1989-03-28    0.0
1989-03-29    2.0
1989-03-30    1.0
1989-03-31    0.0
1989-04-01    2.0
Name: SNOW, Length: 91, dtype: float64
1990-01-01     0.0
1990-01-02    17.0
1990-01-03     4.0
1990-01-04     0.0
1990-01-05    13.0
              ...
1990-03-28     4.0
1990-03-29     0.0
1990-03-30     0.0
1990-03-31     0.0
1990-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
1991-01-01    0.0
1991-01-02    0.0
1991-01-03    0.0
1991-01-04    0.0
1991-01-05    0.0
             ...
1991-03-28    0.0
1991-03-29    5.0
1991-03-30    0.0
1991-03-31    0.0
1991-04-01    0.0
Name: SNOW, Length: 91, dtype: float64
1992-01-01    0.0
1992-01-02    0.0
1992-01-03    0.0
1992-01-04    4.0
1992-01-05    0.0
             ...
1992-03-28    0.0
1992-03-29    0.0
1992-03-30    0.0
1992-03-31    0.0
1992-04-01    0.0
Name: SNOW, Length: 92, dtype: float64
1993-01-01     0.0
1993-01-02    29.0
1993-01-03     0.0
1993-01-04     0.0
1993-01-05     NaN
              ...
1993-03-28     4.0
1993-03-29     4.0
1993-03-30     6.0
1993-03-31     0.0
1993-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
1994-01-01     0.0
1994-01-02     0.0
1994-01-03     NaN
1994-01-04     0.0
1994-01-05    14.0
              ...
1994-03-27     0.0
1994-03-28     0.0
1994-03-29     0.0
1994-03-30     0.0
1994-03-31     0.0
Name: SNOW, Length: 90, dtype: float64
1995-01-01    0.0
1995-01-02    0.0
1995-01-03    0.0
1995-01-04    0.0
1995-01-05    7.5
             ...
1995-03-28    2.0
1995-03-29    1.0
1995-03-30    0.0
1995-03-31    0.0
1995-04-01    0.0
Name: SNOW, Length: 91, dtype: float64
1996-01-01     3.0
1996-01-02     0.0
1996-01-03     0.0
1996-01-04     7.0
1996-01-05     3.0
              ...
1996-03-28     0.0
1996-03-29    10.0
1996-03-30     0.0
1996-03-31     0.0
1996-04-01     0.0
Name: SNOW, Length: 90, dtype: float64
1997-01-01     0.0
1997-01-02     0.0
1997-01-03    13.0
1997-01-04     4.0
1997-01-05     0.0
              ...
1997-03-28     0.0
1997-03-29     1.0
1997-03-30     0.0
1997-03-31     7.0
1997-04-01     2.0
Name: SNOW, Length: 91, dtype: float64
1998-01-01     0.0
1998-01-02     0.5
1998-01-03     7.0
1998-01-04     2.3
1998-01-05    10.0
              ...
1998-03-28    16.0
1998-03-29     6.0
1998-03-30     8.0
1998-03-31     0.0
1998-04-01     0.0
Name: SNOW, Length: 89, dtype: float64
1999-01-01    7.0
1999-01-02    0.0
1999-01-03    0.0
1999-01-04    0.0
1999-01-05    0.0
             ...
1999-03-28    0.0
1999-03-29    0.0
1999-03-30    0.0
1999-03-31    5.0
1999-04-01    5.0
Name: SNOW, Length: 91, dtype: float64
2000-01-01     0.0
2000-01-02    12.0
2000-01-03    10.0
2000-01-04     2.0
2000-01-05    18.0
              ...
2000-03-28     0.0
2000-03-29     0.0
2000-03-30     8.0
2000-03-31     0.0
2000-04-01     0.0
Name: SNOW, Length: 92, dtype: float64
2001-01-01     0.0
2001-01-02     0.0
2001-01-03     0.0
2001-01-04     0.0
2001-01-05     0.0
              ...
2001-03-28     5.0
2001-03-29    10.0
2001-03-30     0.0
2001-03-31     0.0
2001-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
2002-01-01    1.0
2002-01-02    0.0
2002-01-03    0.5
2002-01-04    2.0
2002-01-05    0.0
             ...
2002-03-28    0.0
2002-03-29    0.0
2002-03-30    0.0
2002-03-31    0.0
2002-04-01    0.0
Name: SNOW, Length: 89, dtype: float64
2003-01-01    4.0
2003-01-02    0.0
2003-01-03    0.0
2003-01-04    0.0
2003-01-05    2.0
             ...
2003-03-28    0.0
2003-03-29    0.0
2003-03-30    0.0
2003-03-31    0.0
2003-04-01    0.0
Name: SNOW, Length: 91, dtype: float64
2004-01-01     4.0
2004-01-02    10.0
2004-01-03     5.0
2004-01-04     3.5
2004-01-05     4.0
              ...
2004-03-28     3.0
2004-03-29     NaN
2004-03-30     NaN
2004-03-31     NaN
2004-04-01     0.0
Name: SNOW, Length: 92, dtype: float64
2005-01-01    14.0
2005-01-02     0.0
2005-01-03     1.0
2005-01-04     NaN
2005-01-05     9.0
              ...
2005-03-28    10.0
2005-03-29     NaN
2005-03-30    31.0
2005-03-31     0.0
2005-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
2006-01-01    16.0
2006-01-02    10.0
2006-01-03    14.0
2006-01-04     2.0
2006-01-05     0.0
              ...
2006-03-28     8.0
2006-03-29    13.0
2006-03-30     8.0
2006-03-31     1.0
2006-04-01     9.0
Name: SNOW, Length: 91, dtype: float64
2007-01-01     0.0
2007-01-02     0.0
2007-01-03     0.0
2007-01-04    10.0
2007-01-05     5.0
2007-01-06     3.0
2007-01-07     4.0
2007-01-08     0.0
2007-01-09     0.0
2007-01-10     0.0
2007-01-11     6.0
2007-01-12     2.0
2007-01-13     0.0
2007-01-14     0.0
2007-01-15     0.0
2007-01-16     0.0
2007-01-17     0.0
2007-01-18     0.0
2007-01-19     0.0
2007-01-20     5.0
2007-01-21     5.0
2007-01-22     0.0
2007-01-23     0.0
2007-01-24     0.0
2007-01-25     0.0
2007-01-26     0.0
2007-01-27     0.0
2007-01-28     0.0
2007-01-29     0.0
2007-01-30     0.0
2007-01-31     4.0
2007-02-01     NaN
2007-02-02     4.0
2007-02-03     0.0
2007-02-04     1.0
2007-02-05     0.0
2007-02-06     0.0
2007-02-07     0.0
2007-02-08     0.0
2007-02-09     0.0
2007-02-10     0.0
2007-02-11    13.0
2007-02-12     5.0
2007-02-13     1.0
2007-02-14     4.0
2007-02-15     7.0
2007-02-16     4.0
2007-02-17     0.0
2007-02-18     0.0
2007-02-19    11.0
2007-02-20     1.0
2007-02-21     0.0
2007-02-22     0.0
2007-02-23    11.0
2007-02-24     8.0
2007-02-25     6.0
2007-02-26    10.0
2007-02-27     9.0
2007-02-28     0.0
Name: SNOW, dtype: float64
2008-01-01     0.0
2008-01-02     0.0
2008-01-03     0.0
2008-01-04     0.0
2008-01-05    10.0
              ...
2008-03-28     0.0
2008-03-29     0.1
2008-03-30     4.0
2008-03-31     8.0
2008-04-01     0.5
Name: SNOW, Length: 92, dtype: float64
2009-01-01     0.0
2009-01-02     0.0
2009-01-03    10.0
2009-01-04     0.0
2009-01-07     NaN
              ...
2009-03-28     0.0
2009-03-29     5.0
2009-03-30    22.0
2009-03-31     0.0
2009-04-01    16.0
Name: SNOW, Length: 88, dtype: float64
2010-01-01     2.0
2010-01-02     2.5
2010-01-03     0.0
2010-01-04     0.0
2010-01-06     NaN
              ...
2010-03-27     0.0
2010-03-28     0.0
2010-03-29     0.0
2010-03-31     NaN
2010-04-01    14.0
Name: SNOW, Length: 84, dtype: float64
2011-01-01    0.0
2011-01-02    0.1
2011-01-03    0.0
2011-01-04    0.0
2011-01-05    0.0
             ...
2011-03-28    5.0
2011-03-29    0.0
2011-03-30    4.0
2011-03-31    1.0
2011-04-01    0.0
Name: SNOW, Length: 89, dtype: float64
2012-01-01    0.0
2012-01-02    0.0
2012-01-03    0.0
2012-01-04    0.0
2012-01-05    0.0
             ...
2012-03-28    0.0
2012-03-29    3.0
2012-03-30    0.0
2012-03-31    0.0
2012-04-01    3.0
Name: SNOW, Length: 89, dtype: float64
2013-01-01    0.0
2013-01-02    0.0
2013-01-03    0.0
2013-01-04    0.0
2013-01-05    0.0
             ...
2013-03-27    0.0
2013-03-29    0.0
2013-03-30    0.0
2013-03-31    0.0
2013-04-01    2.0
Name: SNOW, Length: 85, dtype: float64
2014-01-01     0.0
2014-01-02     0.0
2014-01-03     0.0
2014-01-04     3.5
2014-01-05     0.1
              ...
2014-03-28     1.8
2014-03-29     0.0
2014-03-30     7.0
2014-03-31     6.0
2014-04-01    11.0
Name: SNOW, Length: 89, dtype: float64
2015-01-01    0.0
2015-01-02    0.0
2015-01-03    1.5
2015-01-04    0.0
2015-01-05    0.0
             ...
2015-03-28    0.0
2015-03-29    0.0
2015-03-30    0.0
2015-03-31    0.0
2015-04-01    0.0
Name: SNOW, Length: 85, dtype: float64
2016-01-01    0.0
2016-01-02    0.0
2016-01-03    0.0
2016-01-04    0.0
2016-01-05    0.5
             ...
2016-03-28    6.0
2016-03-29    6.0
2016-03-30    1.0
2016-03-31    2.0
2016-04-01    0.0
Name: SNOW, Length: 92, dtype: float64
2017-01-01     0.0
2017-01-02    11.7
2017-01-03     3.0
2017-01-04     6.0
2017-01-05     6.8
              ...
2017-03-28     2.0
2017-03-29     0.0
2017-03-30     1.0
2017-03-31     3.2
2017-04-01     0.0
Name: SNOW, Length: 91, dtype: float64
2018-01-01    0.0
2018-01-02    0.0
2018-01-03    0.0
2018-01-04    0.0
2018-01-05    0.0
             ...
2018-03-28    0.8
2018-03-29    0.0
2018-03-30    0.0
2018-03-31    0.0
2018-04-01    0.0
Name: SNOW, Length: 91, dtype: float64
2019-01-01     0.0
2019-01-02     0.0
2019-01-03     0.0
2019-01-04     0.0
2019-01-05     0.0
              ...
2019-03-28     0.0
2019-03-29    20.7
2019-03-30     0.7
2019-03-31     0.0
2019-04-01     0.0
Name: SNOW, Length: 91, dtype: float64

8. Using .loc pull out the last 4 months of a year

In [72]:
years = list(range(1980, 2020))
str_years = [str(year) for year in years]
for i in range(len(str_years) - 1):
    print(snow.loc[f'{str_years[i]}-09-01':f'{str_years[i + 1]}-01-01'])

1980-09-01    0.0
1980-09-02    0.0
1980-09-03    0.0
1980-09-04    0.0
1980-09-05    0.0
             ...
1980-12-28    0.0
1980-12-29    0.0
1980-12-30    0.0
1980-12-31    0.0
1981-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1981-09-01     0.0
1981-09-02     0.0
1981-09-03     0.0
1981-09-04     0.0
1981-09-05     0.0
              ...
1981-12-28     8.0
1981-12-29     0.0
1981-12-30     3.0
1981-12-31    15.0
1982-01-01     6.0
Name: SNOW, Length: 123, dtype: float64
1982-09-01    0.0
1982-09-02    0.0
1982-09-03    0.0
1982-09-04    0.0
1982-09-05    0.0
             ...
1982-12-28    7.0
1982-12-29    0.0
1982-12-30    0.0
1982-12-31    0.0
1983-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1983-09-01     0.0
1983-09-02     0.0
1983-09-03     0.0
1983-09-04     0.0
1983-09-05     0.0
              ...
1983-12-28    13.0
1983-12-29     0.0
1983-12-30     3.0
1983-12-31     7.0
1984-01-01     1.0
Name: SNOW, Length: 123, dtype: float64
1984-09-01    0.0
1984-09-02    0.0
1984-09-03    0.0
1984-09-04    0.0
1984-09-05    0.0
             ...
1984-12-28    5.0
1984-12-29    2.0
1984-12-30    0.0
1984-12-31    3.0
1985-01-01    9.0
Name: SNOW, Length: 123, dtype: float64
1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
             ...
1985-12-28    0.0
1985-12-29    0.0
1985-12-30    5.0
1985-12-31    2.0
1986-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1986-09-01    0.0
1986-09-02    0.0
1986-09-03    0.0
1986-09-04    0.0
1986-09-05    0.0
             ...
1986-12-28    0.0
1986-12-29    0.0
1986-12-30    0.0
1986-12-31    0.0
1987-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1987-09-01    0.0
1987-09-02    0.0
1987-09-03    0.0
1987-09-04    0.0
1987-09-05    0.0
             ...
1987-12-28    0.0
1987-12-29    0.0
1987-12-30    6.0
1987-12-31    5.0
1988-01-01    NaN
Name: SNOW, Length: 123, dtype: float64
1988-09-01    0.0
1988-09-02    0.0
1988-09-03    0.0
1988-09-04    0.0
1988-09-05    0.0
             ...
1988-12-28    0.0
1988-12-29    0.0
1988-12-30    1.0
1988-12-31    0.0
1989-01-01    3.0
Name: SNOW, Length: 123, dtype: float64
1989-09-01    0.0
1989-09-02    0.0
1989-09-03    0.0
1989-09-04    0.0
1989-09-05    0.0
             ...
1989-12-28    0.0
1989-12-29    0.0
1989-12-30    NaN
1989-12-31    0.0
1990-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1990-09-01    0.0
1990-09-02    0.0
1990-09-03    0.0
1990-09-04    0.0
1990-09-05    0.0
             ...
1990-12-28    0.0
1990-12-29    0.5
1990-12-30    0.0
1990-12-31    0.0
1991-01-01    0.0
Name: SNOW, Length: 122, dtype: float64
1991-09-01    0.0
1991-09-02    0.0
1991-09-03    0.0
1991-09-04    0.0
1991-09-05    0.0
             ...
1991-12-28    1.0
1991-12-29    1.0
1991-12-30    0.0
1991-12-31    7.0
1992-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1992-09-01     0.0
1992-09-02     0.0
1992-09-03     0.0
1992-09-04     0.0
1992-09-05     0.0
              ...
1992-12-28     6.0
1992-12-29     0.0
1992-12-30    18.0
1992-12-31     0.0
1993-01-01     0.0
Name: SNOW, Length: 123, dtype: float64
1993-09-01    0.0
1993-09-02    0.0
1993-09-03    0.0
1993-09-04    0.0
1993-09-05    0.0
             ...
1993-12-28    3.0
1993-12-29    0.0
1993-12-30    0.0
1993-12-31    0.0
1994-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1994-09-01    0.0
1994-09-02    0.0
1994-09-03    0.0
1994-09-04    0.0
1994-09-05    0.0
             ...
1994-12-28    0.0
1994-12-29    0.0
1994-12-30    0.0
1994-12-31    0.0
1995-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1995-09-01     0.0
1995-09-02     0.0
1995-09-03     0.0
1995-09-04     0.0
1995-09-05     0.0
              ...
1995-12-28     0.0
1995-12-29     0.5
1995-12-30    10.0
1995-12-31     1.0
1996-01-01     3.0
Name: SNOW, Length: 122, dtype: float64
1996-09-01    0.0
1996-09-02    0.0
1996-09-03    0.0
1996-09-04    0.0
1996-09-05    0.0
             ...
1996-12-28    0.0
1996-12-29    0.0
1996-12-30    0.0
1996-12-31    0.0
1997-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
1997-09-01    0.0
1997-09-02    0.0
1997-09-03    0.0
1997-09-04    0.0
1997-09-05    0.0
             ...
1997-12-28    0.0
1997-12-29    2.0
1997-12-30    0.0
1997-12-31    0.0
1998-01-01    0.0
Name: SNOW, Length: 122, dtype: float64
1998-09-01    0.0
1998-09-02    0.0
1998-09-03    0.0
1998-09-04    0.0
1998-09-05    0.0
             ...
1998-12-28    3.1
1998-12-29    0.0
1998-12-30    0.0
1998-12-31    3.5
1999-01-01    7.0
Name: SNOW, Length: 123, dtype: float64
1999-09-01    0.0
1999-09-02    0.0
1999-09-03    0.0
1999-09-04    0.0
1999-09-05    0.0
             ...
1999-12-28    0.0
1999-12-29    0.0
1999-12-30    0.0
1999-12-31    0.0
2000-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
2000-09-01    0.0
2000-09-02    0.0
2000-09-03    0.0
2000-09-04    0.0
2000-09-05    0.0
             ...
2000-12-28    0.0
2000-12-29    0.0
2000-12-30    0.0
2000-12-31    0.0
2001-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
2001-09-01    0.0
2001-09-02    0.0
2001-09-03    0.0
2001-09-04    0.0
2001-09-05    0.0
             ...
2001-12-28    0.0
2001-12-29    0.0
2001-12-30    2.0
2001-12-31    0.0
2002-01-01    1.0
Name: SNOW, Length: 92, dtype: float64
2002-09-01    0.0
2002-09-02    0.0
2002-09-03    0.0
2002-09-04    0.0
2002-09-05    0.0
             ...
2002-12-28    0.0
2002-12-29    6.0
2002-12-30    2.0
2002-12-31    6.0
2003-01-01    4.0
Name: SNOW, Length: 123, dtype: float64
2003-09-01     0.0
2003-09-02     0.0
2003-09-03     0.0
2003-09-04     0.0
2003-09-05     0.0
              ...
2003-12-28    11.0
2003-12-29     4.0
2003-12-30    13.0
2003-12-31     2.0
2004-01-01     4.0
Name: SNOW, Length: 123, dtype: float64
2004-09-01     0.0
2004-09-02     0.0
2004-09-03     0.0
2004-09-04     0.0
2004-09-05     0.0
              ...
2004-11-27    11.0
2004-11-28    18.0
2004-11-29     0.0
2004-11-30     0.0
2005-01-01    14.0
Name: SNOW, Length: 92, dtype: float64
2005-09-01     0.0
2005-09-02     0.0
2005-09-03     0.0
2005-09-04     0.0
2005-09-05     0.0
              ...
2005-12-28     0.0
2005-12-29     7.0
2005-12-30     7.0
2005-12-31     7.0
2006-01-01    16.0
Name: SNOW, Length: 123, dtype: float64
2006-10-01    0.0
2006-10-02    0.0
2006-10-03    0.0
2006-10-04    0.0
2006-10-05    0.0
             ...
2006-12-28    2.0
2006-12-29    0.0
2006-12-30    0.0
2006-12-31    0.0
2007-01-01    0.0
Name: SNOW, Length: 93, dtype: float64
2007-09-01    0.0
2007-09-02    0.0
2007-09-03    0.0
2007-09-04    0.0
2007-09-05    0.0
             ...
2007-12-28    3.0
2007-12-29    7.4
2007-12-30    9.0
2007-12-31    0.0
2008-01-01    0.0
Name: SNOW, Length: 121, dtype: float64
2008-09-01    1.0
2008-09-02    0.0
2008-09-03    0.0
2008-09-04    0.0
2008-09-05    0.0
             ...
2008-12-28    1.0
2008-12-29    0.0
2008-12-30    0.0
2008-12-31    0.0
2009-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
2009-09-01     0.0
2009-09-02     0.0
2009-09-03     0.0
2009-09-04     0.0
2009-09-05     0.0
              ...
2009-12-28     0.0
2009-12-29     2.0
2009-12-30    14.0
2009-12-31     3.0
2010-01-01     2.0
Name: SNOW, Length: 122, dtype: float64
2010-09-01    0.0
2010-09-02    0.0
2010-09-03    0.0
2010-09-04    0.0
2010-09-05    0.0
             ...
2010-12-27    0.0
2010-12-29    NaN
2010-12-30    8.0
2010-12-31    1.0
2011-01-01    0.0
Name: SNOW, Length: 122, dtype: float64
2011-09-01    0.0
2011-09-03    0.0
2011-09-04    0.0
2011-09-05    NaN
2011-09-06    0.0
             ...
2011-12-28    0.0
2011-12-29    2.0
2011-12-30    0.0
2011-12-31    1.0
2012-01-01    0.0
Name: SNOW, Length: 111, dtype: float64
2012-09-01    0.0
2012-09-02    0.0
2012-09-03    0.0
2012-09-04    NaN
2012-09-05    NaN
             ...
2012-12-28    4.0
2012-12-29    0.0
2012-12-30    0.5
2012-12-31    0.0
2013-01-01    0.0
Name: SNOW, Length: 118, dtype: float64
2013-09-01    NaN
2013-09-02    0.0
2013-09-03    NaN
2013-09-04    0.0
2013-09-06    NaN
             ...
2013-12-28    0.0
2013-12-29    0.0
2013-12-30    0.0
2013-12-31    1.0
2014-01-01    0.0
Name: SNOW, Length: 115, dtype: float64
2014-09-01     0.0
2014-09-02     0.0
2014-09-03     0.0
2014-09-04     0.0
2014-09-05     0.0
              ...
2014-12-28    10.0
2014-12-29    10.0
2014-12-30     0.0
2014-12-31     0.0
2015-01-01     0.0
Name: SNOW, Length: 121, dtype: float64
2015-09-01    0.0
2015-09-02    0.0
2015-09-03    0.0
2015-09-04    0.0
2015-09-05    0.0
             ...
2015-12-28    0.0
2015-12-29    1.0
2015-12-30    2.0
2015-12-31    0.0
2016-01-01    0.0
Name: SNOW, Length: 122, dtype: float64
2016-09-01    0.0
2016-09-02    0.0
2016-09-03    0.0
2016-09-04    0.0
2016-09-05    0.0
             ...
2016-12-28    0.3
2016-12-29    0.0
2016-12-30    0.0
2016-12-31    0.0
2017-01-01    0.0
Name: SNOW, Length: 123, dtype: float64
2017-09-01    0.0
2017-09-02    0.0
2017-09-03    0.0
2017-09-04    0.0
2017-09-05    0.0
             ...
2017-12-28    0.0
2017-12-29    0.0
2017-12-30    0.0
2017-12-31    0.0
2018-01-01    0.0
Name: SNOW, Length: 122, dtype: float64
2018-09-01    0.0
2018-09-02    0.0
2018-09-03    0.0
2018-09-04    0.0
2018-09-05    0.0
             ...
2018-12-28    0.5
2018-12-29    0.3
2018-12-30    6.4
2018-12-31    6.8
2019-01-01    0.0
Name: SNOW, Length: 123, dtype: float64