In [9]:
import pandas as pd

df = pd.read_csv('datasets/population_by_age_group.csv', low_memory=False)
df

               Country     Total      65+  25-64 years  15-24 years  5-14 years  0-4 years
0          Afghanistan  40099460   964016     12995277      8727160    10922454    6490554
1              Albania   2854710   463442      1527360       399113      323402     141393
2              Algeria  44177964  2731079     21871300      6007614     8697129    4870841
3       American Samoa     45056     3088        22433         7141        8365       4029
4              Andorra     79057    11499        48651         8570        7797       2540
..                 ...       ...      ...          ...          ...         ...        ...
230  Wallis and Futuna     11654     1521         5767         1652        1961        753
231     Western Sahara    565590    31718       314200        80572       92147      46953
232              Yemen  32981644   886890     12210659      6733620     8436417    4714059
233             Zambia  19473132   338628      6734346      3975624     5351636    3072899
234           Zimbabwe  15993525   537915      5572892      3342436     4240570    2299712

[235 rows x 7 columns]

1. Use the debugger to step into the chain of your tweak function.

In [24]:
def tweak_population(df_):
    return (df_.rename(columns=lambda c: c.replace('-', '_'))
               .rename(columns=lambda c: c.replace('+', 'more'))
               .rename(columns=lambda c: c.replace(' ', '_')))
                

tdf = tweak_population(df)
tdf

               Country     Total   65more  25_64_years  15_24_years  5_14_years  0_4_years
0          Afghanistan  40099460   964016     12995277      8727160    10922454    6490554
1              Albania   2854710   463442      1527360       399113      323402     141393
2              Algeria  44177964  2731079     21871300      6007614     8697129    4870841
3       American Samoa     45056     3088        22433         7141        8365       4029
4              Andorra     79057    11499        48651         8570        7797       2540
..                 ...       ...      ...          ...          ...         ...        ...
230  Wallis and Futuna     11654     1521         5767         1652        1961        753
231     Western Sahara    565590    31718       314200        80572       92147      46953
232              Yemen  32981644   886890     12210659      6733620     8436417    4714059
233             Zambia  19473132   338628      6734346      3975624     5351636    3072899
234           Zimbabwe  15993525   537915      5572892      3342436     4240570    2299712

[235 rows x 7 columns]

2. Capture an intermediate state of your chain into a variable.

In [36]:
class DebugException(Exception):
    pass

def debug_var(thing, *, name='debug_item', raise_ex=True):
    globals()[name] = thing
    if raise_ex:
        raise DebugException
    return thing

tdf = tweak_population(df)
tdf.apply(debug_var, name='this')

DebugException:

In [37]:
this

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
230    Wallis and Futuna
231       Western Sahara
232                Yemen
233               Zambia
234             Zimbabwe
Name: Country, Length: 235, dtype: object

In [38]:
tdf.apply(debug_var, axis=1)

DebugException:

In [39]:
debug_item

Country        Afghanistan
Total             40099460
65more              964016
25_64_years       12995277
15_24_years        8727160
5_14_years        10922454
0_4_years          6490554
Name: 0, dtype: object

In [40]:
tdf.assign(new_col=debug_var)

DebugException:

In [41]:
debug_item

               Country     Total   65more  25_64_years  15_24_years  5_14_years  0_4_years
0          Afghanistan  40099460   964016     12995277      8727160    10922454    6490554
1              Albania   2854710   463442      1527360       399113      323402     141393
2              Algeria  44177964  2731079     21871300      6007614     8697129    4870841
3       American Samoa     45056     3088        22433         7141        8365       4029
4              Andorra     79057    11499        48651         8570        7797       2540
..                 ...       ...      ...          ...          ...         ...        ...
230  Wallis and Futuna     11654     1521         5767         1652        1961        753
231     Western Sahara    565590    31718       314200        80572       92147      46953
232              Yemen  32981644   886890     12210659      6733620     8436417    4714059
233             Zambia  19473132   338628      6734346      3975624     5351636    3072899
234           Zimbabwe  15993525   537915      5572892      3342436     4240570    2299712

[235 rows x 7 columns]

3. Time how long the tweak function takes to run.

In [25]:
%%time
tdf = tweak_population(df)

CPU times: total: 0 ns
Wall time: 1e+03 Âµs

4. Determine how much memory the tweak function needs to run.

In [27]:
%load_ext memory_profiler

In [29]:
%%memit
tdf = tweak_population(df)

peak memory: 196.66 MiB, increment: 0.06 MiB